*{
	box-sizing: border-box;
}

h1 {
	display: inline;
	margin:0px;
	/*font-size: 28pt;*/
	vertical-align: middle;
}

.logo {
	height:45px;
	width:70px;
	border-radius: 50%;
	margin-right: 20px;
	vertical-align: middle;
}

header {
	margin:0 auto;
	padding: 20px 0;
	text-align: center;
	background-color: black;
	color: white;
}

body{
	margin:0;
	font-family: 'Raleway', sans-serif;
	background-image: url(images/bg.jpg);
	background-size: cover;

}

.container {
	border: solid 1px black;
	border-radius: 5px;
	height: 300px;
	width:50%;
	margin: 50px auto;
	text-align: center;
	background-color: white;
	background-image: linear-gradient(rgba(0,0,0,0.1),
      rgba(0,0,0,0.1));
}

.js-start-button, .submit, .js-retake-button {
	height: 30px;
	margin-top: 30px;
}

.hidden {
	display: none;
}

.js-status-container {
	border-bottom: solid 1px black;
	position: relative;
	text-align: left;
	padding: 10px 0 10px 10px;
	font-weight: bold;	
}

.js-current-score {
	position: absolute;
	right:10px;
}

.js-question {
	padding: 0 5px;
}

.options {
	padding: 5px 150px;
	text-align: left;
}

.js-comments {
	margin-top: 10px;
	height:30px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.wrong {
	color:red;
}

.correct {
	color: green;
}
